{% extends 'layout/base.html' %}
{% block content %}


<div class="container mt-5">

    <div class="row my-5">
        <div class="col-6 mx-auto mt-5">
            <h1 class="centering-text recipe-title p-2 playfont">Add Recipe</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-10 mx-auto">
            <form action="{{ url_for('insert_recipe') }}" autocomplete="off" method="POST" class="form-caps">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                        <div class="col-1">
                            <label class="dropdown-select"><strong>Meal Type:</strong></label>
                        </div>
                        <div class="col-9 col-sm-11 mx-auto">
                            <select class="bg-transparent custom-select custom-select-lg" id="meal_types" name="meal_type" required>
                                    <option value="" disabled selected>Select Meal</option>
                                    <option value="breakfast">Breakfast</option>
                                    <option value="lunch">Lunch</option>
                                    <option value="dinner">Dinner</option>
                            </select>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-1 my-auto">
                        <span><i class="fas fa-cogs d-sm-none"></i></span>
                        <span><i class="fas fa-cogs d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" required id="recipe_name" name="recipe_name" 
                        type="text" spellcheck="true" pattern=".{3,}" maxlength="16" placeholder="Enter recipe name...">
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-1 my-auto">
                        <span><i class="fas fa-edit d-sm-none"></i></span>
                        <span><i class="fas fa-edit d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" required id="recipe_desc" name="recipe_desc" type="text" 
                        spellcheck="true" pattern=".{100,}" maxlength="250" title="Please enter min of 100 characters" placeholder="Recipe description...">
                    </div>
                </div>

                <div class="row">

                <div class="col-1 my-auto">
					<span><i class="fas fa-clipboard-list d-sm-none"></i></span>
                    <span><i class="fas fa-clipboard d-none d-sm-inline fa-2x"></i></span>
				</div>
				<div class="col-10 col-sm-11">
                    <input class="form-control form-control-recipe form-control-lg bg-transparent" type="text"
                    data-toggle="modal" data-target="#exampleModalCenter" spellcheck="true" placeholder="Add prep steps">
			    </div>


                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Add steps below as needed..</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 mx-auto centering-text">
                                <button class="add_form_field btn btn-success">Add another! <i class="fas fa-plus"></i></button>
                            </div>
                        </div>
						<div class="row">
							<div class="col-12 mx-auto">
								<div class="container1">
                                    <div class="centering-text py-3"><input class="bg-transparent form-control-recipe step-form" 
                                    required type="text" name="recipe_prep" id="recipe_prep">
                                    <button class="delete btn btn-danger step-btn"><i class="far fa-trash-alt"></i></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
                    </div>
                    </div>
                </div>
                </div>

                </div>

                <div class="row my-4">
                    <div class="col-1 my-auto">
                        <span><i class="fas fa-flag d-sm-none"></i></span>
                        <span><i class="fas fa-flag d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" required id="cuisine_name" name="cuisine_name" 
                        type="text" spellcheck="true" pattern=".{3,}" maxlength="40" placeholder="Cuisine name...">
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-1 my-auto">
                        <span><i class="fas fa-calendar-week d-sm-none"></i></span>
                        <span><i class="fas fa-calendar-week d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" required id="tools" name="tools" 
                        type="text" spellcheck="true" placeholder="Recipe tools...">
                    </div>
                </div>

                <div class="row my-4">

                    <div class="col-1 my-auto">
                        <span><i class="fas fa-utensils d-sm-none"></i></span>
                        <span><i class="fas fa-utensils d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" type="text"
                        data-toggle="modal" data-target="#exampleModal" spellcheck="true" placeholder="Add ingredients">
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add ingredients one by one please</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 mx-auto centering-text">
                                    <button class="add_form_feed btn btn-success">Add another! <i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mx-auto">
                                    <div class="container2">
                                        <div class="centering-text py-3"><input class="bg-transparent form-control-recipe step-form" 
                                        required type="text" id="ingredients" name="ingredients">
                                        <button class="delete btn btn-danger step-btn"><i class="far fa-trash-alt"></i></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>

                <div class="row my-4">
                    <div class="col-1 my-auto">
                        <span><i class="fas fa-images d-sm-none"></i></span>
                        <span><i class="fas fa-images d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" required id="image" name="image"
                        spellcheck="true"  placeholder="URL of recipe image..." title="Make sure it is the corect image url link" type="url" 
                        pattern="(.*?)\.(jpg|png|gif)$">
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-1 my-auto">
                        <span><i class="fas fa-hourglass-half d-sm-none"></i></span>
                        <span><i class="fas fa-hourglass-half d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" required id="duration" name="duration" max="999"
                        type="number" min="5" spellcheck="true" title="Please enter duration time in digits, i.e. more than '5'" placeholder="Recipe duration...">
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-1 my-auto">
                        <span><i class="fas fa-weight d-sm-none"></i></span>
                        <span><i class="fas fa-weight d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" required id="calories" name="calories" 
                        type="number" min="5" max="9999" spellcheck="true" title="Please enter calories in digits" placeholder="Recipe calories...">
                    </div>
                </div>

                <div class="row centering-text">
                    <div class="col my-3">
                        <button class="btn btn-success my-4" type="submit" name="action">Add recipe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    

</div>

<div class="centering-text my-5">
    <a href="{{ url_for('get_recipies') }}" class="btn btn-warning">Cancel</a>
</div>

{% endblock %}