{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-5">

    <div class="row my-5">
        <div class="col-6 mx-auto mt-5">
            <h3 class="centering-text">Edit recipe below</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-10 mx-auto">
        <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" autocomplete="off" method="POST" class="form-caps">
 
			<div class="row">
				<div class="col-8">
                <label>Meal Type:</label>
					<select id="meal_type" name="meal_type" required>
                        <option value="{{ recipe.meal_type }}" disabled selected>{{ recipe.meal_type }}</option>
                        <option value="breakfast">Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                    </select>
				</div>
			</div>

			<div class="row my-4">
				<div class="col-1 my-auto">
					<span><i class="fas fa-cogs d-sm-none"></i></span>
                    <span><i class="fas fa-cogs d-none d-sm-inline fa-2x"></i></span>
				</div>
				<div class="col-10 col-sm-11">
					<input class="form-control form-control-recipe form-control-lg bg-transparent" id="recipe_name" name="recipe_name" type="text" 
                    pattern=".{3,}" spellcheck="true" maxlength="16" value="{{recipe.recipe_name}}" required>
			        </div>
				</div>
			<div class="row my-4">
				<div class="col-1  my-auto">
					<span><i class="fas fa-edit d-sm-none"></i></span>
                    <span><i class="fas fa-edit d-none d-sm-inline fa-2x"></i></span>
				</div>
				<div class="col-10 col-sm-11">
					<input class="form-control form-control-recipe form-control-lg bg-transparent" id="recipe_desc" name="recipe_desc" type="text" 
                    spellcheck="true" required pattern=".{100,}" maxlength="250" title="Please enter min of 100 characters" value="{{recipe.recipe_desc}}">
			    </div>
			</div>
            
            
            <div class="row">

                <div class="col-1  my-auto">
				    <span><i class="fas fa-clipboard-list d-sm-none"></i></span>
                    <span><i class="fas fa-clipboard d-none d-sm-inline fa-2x"></i></span>
				</div>
				<div class="col-10 col-sm-11">
				<input class="form-control form-control-recipe form-control-lg bg-transparent" type="text" 
                data-toggle="modal" data-target="#exampleModalCenter" spellcheck="true" placeholder="Add steps">
			    </div>


                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Add/subtract steps below as needed</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container1 mb-5">
						<button class="add_form_field">Add New Field + </button>
						{% for step in recipe.recipe_prep %}
                        <div><input type="text" name="recipe_prep" id="recipe_prep" value= "{{ step }}"><a href="#" class="delete">Delete</a></div>
                        {% endfor %}
					    </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back to recipe</button>
                    </div>
                    </div>
                </div>
                </div>

			</div>

            <div class="row my-4">
                <div class="col-1  my-auto">
                    <span><i class="fas fa-flag d-sm-none"></i></span>
                    <span><i class="fas fa-flag d-none d-sm-inline fa-2x"></i></span>
                </div>
                <div class="col-10 col-sm-11">
                    <input class="form-control form-control-recipe form-control-lg bg-transparent" id="cuisine_name" 
                    name="cuisine_name" type="text" required spellcheck="true" pattern=".{3,}" maxlength="40" value="{{recipe.cuisine_name}}">
                </div>
            </div>
            <div class="row my-4">
                <div class="col-1  my-auto">
                    <span><i class="fas fa-calendar-week d-sm-none"></i></span>
                    <span><i class="fas fa-calendar-week d-none d-sm-inline fa-2x"></i></span>
                </div>
                <div class="col-10 col-sm-11">
                    <input class="form-control form-control-recipe form-control-lg bg-transparent" id="tools" 
                    name="tools" type="text" required spellcheck="true" value="{{recipe.tools}}">
                </div>
            </div>

            <div class="row my-4">

                <div class="col-1  my-auto">
                        <span><i class="fas fa-utensils d-sm-none"></i></span>
                        <span><i class="fas fa-utensils d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" type="text" 
                        data-toggle="modal" data-target="#exampleModal" spellcheck="true" placeholder="add steps">
                    </div>


                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add/subtract steps below as needed</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                <div class="container2">
                    <button class="add_form_feed">Add New Field &nbsp; <span>+ </span></button>
                    {% for stepz in recipe.ingredients %}
                    <div><input type="text" id="ingredients" name="ingredients" value= "{{ stepz }}" placeholder="add ingredient steps plz">
                    <a href="#" class="delete">Delete</a></div>
                    {% endfor %}
                </div>
                </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>

            <div class="row my-4">
                    <div class="col-1  my-auto">
                        <span><i class="fas fa-hourglass-half d-sm-none"></i></span>
                        <span><i class="fas fa-hourglass-half d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" required id="duration" name="duration" min="5"
                        type="number" spellcheck="true" title="Please enter duration time in digits, i.e. more than '5'" value="{{recipe.duration}}">
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-1  my-auto">
                        <span><i class="fas fa-weight d-sm-none"></i></span>
                        <span><i class="fas fa-weight d-none d-sm-inline fa-2x"></i></span>
                    </div>
                    <div class="col-10 col-sm-11">
                        <input class="form-control form-control-recipe form-control-lg bg-transparent" required id="calories" 
                        name="calories" min="5" type="number" title="Please enter calories in digits" spellcheck="true" value="{{recipe.calories}}">
                    </div>
            </div>

            <div class="row my-4">
                <div class="col-1  my-auto">
                    <span><i class="fas fa-images d-sm-none"></i></span>
                    <span><i class="fas fa-images d-none d-sm-inline fa-2x"></i></span>
                </div>
                <div class="col-10 col-sm-11">
                    <input class="form-control form-control-recipe form-control-lg bg-transparent" id="image" name="image" type="text"
                     required spellcheck="true"  value="{{recipe.image}}" title="Please enter url of image, make sure it ends with '.jpg'">
                </div>
            </div>


	<div class="row">
    <div class="col-12">
        <div class="centering-text my-5">
		<button class="btn btn-primary" type="submit" name="action">Save</button>
        <a href="{{ url_for('recipe_selected', recipe_id=recipe._id) }}" class="btn btn-danger">Cancel</a>
        </div>
        </div>
    </div>

        </form>
        </div>
    </div>




</div>



{% endblock %}