{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-5">

    <div class="row my-5">
        <div class="col-6 mx-auto mt-5">
            <h3 class="centering-text">Edit recipe below</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-10 mx-auto">
        <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="form-caps">
 
			<div class="row">
				<div class="col-8">
                <label>Meal Type:</label>
					<select id="meal_type" name="meal_type" required>
                        <option value="{{ recipe.meal_type }}" disabled selected>{{ recipe.meal_type }}</option>
                        <option value="breakfast">Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                    </select>
				</div>
			</div>

			<div class="row my-4">
				<div class="col-1 ml-auto my-auto">
					<span><i class="fas fa-cogs fa-2x"></i></span>
				</div>
				<div class="col-11">
					<input class="form-control form-control-recipe form-control-lg" id="recipe_name" name="recipe_name" type="text" spellcheck="true" maxlength="18" value="{{recipe.recipe_name}}" required>
			        </div>
				</div>
			<div class="row my-4">
				<div class="col-1 ml-auto my-auto">
					<span><i class="fas fa-edit fa-2x"></i></span>
				</div>
				<div class="col-11">
					<input class="form-control form-control-recipe form-control-lg" id="recipe_desc" name="recipe_desc" type="text" spellcheck="true" required minlength="100" maxlength="250" value="{{recipe.recipe_desc}}">
			    </div>
			</div>
            
            
            <div class="row">

                <div class="col-1 ml-auto my-auto">
					<span><i class="fas fa-clipboard-list fa-2x"></i></span>
				</div>
				<div class="col-11">
				<input class="form-control form-control-recipe form-control-lg" type="text" 
                data-toggle="modal" data-target="#exampleModalCenter" spellcheck="true" placeholder="Add steps">
			    </div>


                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Add/subtract steps below as needed</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container1 mb-5">
						<button class="add_form_field">Add New Field + </button>
						{% for step in recipe.recipe_prep %}
                        <div><input type="text" name="recipe_prep" id="recipe_prep" value= "{{ step }}"><a href="#" class="delete">Delete</a></div>
                        {% endfor %}
					    </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back to recipe</button>
                    </div>
                    </div>
                </div>
                </div>

			</div>


            <div class="row my-4">
                <div class="col-1 ml-auto my-auto">
                    <span><i class="fas fa-flag fa-2x"></i></span>
                </div>
                <div class="col-11">
                    <input class="form-control form-control-recipe form-control-lg" id="cuisine_name" name="cuisine_name" type="text" required spellcheck="true" minlength="2" maxlength="40" value="{{recipe.cuisine_name}}">
                </div>
            </div>
            <div class="row my-4">
                <div class="col-1 ml-auto my-auto">
                    <span><i class="fas fa-calendar-week fa-2x"></i></span>
                </div>
                <div class="col-11">
                    <input class="form-control form-control-recipe form-control-lg" id="tools" name="tools" type="text" required spellcheck="true" value="{{recipe.tools}}">
                </div>
            </div>

            <div class="row my-4">

                <div class="col-1 ml-auto my-auto">
                        <span><i class="fas fa-utensils fa-2x"></i></span>
                    </div>
                    <div class="col-11">
                        <input class="form-control form-control-recipe form-control-lg" type="text" 
                        data-toggle="modal" data-target="#exampleModal" spellcheck="true" placeholder="add steps">
                    </div>


                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add/subtract steps below as needed</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                <div class="container2">
                    <button class="add_form_feed">Add New Field &nbsp; <span>+ </span></button>
                    {% for stepz in recipe.ingredients %}
                    <div><input type="text" id="ingredients" name="ingredients" value= "{{ stepz }}" placeholder="add ingredient steps plz">
                    <a href="#" class="delete">Delete</a></div>
                    {% endfor %}
                </div>
                </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>

            <div class="row my-4">
                    <div class="col-1 ml-auto my-auto">
                        <span><i class="fas fa-hourglass-half fa-2x"></i></span>
                    </div>
                    <div class="col-11">
                        <input class="form-control form-control-recipe form-control-lg" required id="duration" name="duration" type="number" spellcheck="true" value="{{recipe.duration}}">
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-1 ml-auto my-auto">
                        <span><i class="fas fa-weight fa-2x"></i></span>
                    </div>
                    <div class="col-11">
                        <input class="form-control form-control-recipe form-control-lg" required id="calories" name="calories" type="number" spellcheck="true" value="{{recipe.calories}}">
                    </div>
            </div>

            <div class="row my-4">
                <div class="col-1 ml-auto my-auto">
                    <span><i class="fas fa-images fa-2x"></i></span>
                </div>
                <div class="col-11">
                    <input class="form-control form-control-recipe form-control-lg" id="image" name="image" type="text" required spellcheck="true"  value="{{recipe.image}}">
                </div>
            </div>


	<div class="row centering-text">
		<button class="btn btn-primary" type="submit" name="action">Save Changes</button>
        <a href="{{ url_for('recipe_selected', recipe_id=recipe._id) }}" class="btn btn-warning">Cancel</a>
    </div>

        </form>
        </div>
    </div>




</div>



{% endblock %}