{% extends 'layout/base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid searchatron bg-transparent">
  <div class="container-fluid">

    <div class="row mt-5">
        <div class="col-12 ">
            <h1 class="display-4 mx-auto white-text centering-text">Search your recipe:</h1>
        </div>
    </div>
    
    <form action="{{ url_for('search_recipe') }}" >
    <div class="row mt-5">
        <div class="col-12 form-group form-caps white-text">
            <input class="search-bar form-control white-text form-search-bar mx-auto bg-transparent" type="text" placeholder="e.g 'chicken' or 'curry'.." name="query" required>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div id="search_recipe" class="centering-text">
                <button type="submit" class="btn btn-success btn-lg ">Have a look</button>
            </div>
        </div>
    </div>
    </form>

  </div>
</div>


{% endblock %}