{% extends 'layout/base.html' %}
{% block content %}


<div class="container recipes-cont my-5">

    <div class="row">

    {% for recipe in recipies %}
    <div class="col-12 col-md-4 my-4">
        <div class="card">
            <img src="{{recipe.image}}" class="card-img-top" alt="recipe image">
            <div class="card-body ">
                <div class=""><h5 class="card-title centering-text">{{recipe.recipe_name}}</h5></div>
                <div class=""><p class="card-text card-text-recipes mb-3">{{recipe.recipe_desc}}</p></div>
                <div class="centering-text">
                    <a href="/recipe_selected/{{ recipe._id }}">
                        <button type="submit" class="btn btn-success mt-2" name="action">View full recipe</button>
                    </a>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted ">"{{recipe.cuisine_name}}" style food..</small>
            </div>
        </div>
    </div>
    {% endfor %}

    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% for this_page in num_pages %}
            {% if this_page == curent_page %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link">{{ this_page }}<span class="sr-only">(current)</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                <a class="page-link"href="{{ url_for('get_recipies', curent_page=this_page) }}">{{ this_page }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

{% endblock %}