{% extends 'layout/base.html' %}
{% block content %}


<div class="container my-5">

    <div class="row">
    <div class="col-12 col-sm-8 mx-auto">
    <h1 class="centering-text recipe-title my-5">{{recipe.recipe_name}}</h1>
    </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mx-auto ing-steps">
            <div class="row mb-3">
            <div class="col-8 mx-auto">
                    {% for stepz in recipe.ingredients %}
                    <div class="ingred-steps my-3"> {{ stepz }} <i class="far fa-plus-square"></i> </div>
                    {% endfor %}
            </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 mx-auto recipe-row">
            <div class="row">
                <div class="col-12 col-md-11 mx-auto"><img src="{{recipe.image}}" class="recipe-img" alt="recipe image"></div>
            </div>   
            <div class="row mt-3">
            <div class="col-12 mt-3">
            <div class="row">
                <div class="col-4 mx-auto recipe-stats-left">
                <div class="recipe-stats  centering-text">
                <h4>{{ recipe.duration }}</h4>
                <p>mins</p>
                </div>
                </div>
                <div class="col-4 mx-auto recipe-stats-left">
                <div class="recipe-stats centering-text">
                <h4>{{'0' if recipe.ingredients == None else recipe.ingredients|length}}</h4>
                <p>ingredients</p>
                </div>
                </div>
                <div class="col-4 mx-auto">
                <div class="recipe-stats centering-text">
                <h4>{{ recipe.calories }}</h4>
                <p>calories</p>
                </div>
                </div>
            </div> 
            </div>    
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-12 col-sm-9 mx-auto centering-text">
            <h2 class="">Steps</h2>
                {% for step in recipe.recipe_prep %}
                <div class="my-3 prep-steps">  {{ step }} </div>
                {% endfor %}
        </div>
    </div>

    <div class="centering-text">
    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-primary my-4">Edit</a>
    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn btn-danger my-4">Delete</a>
    </div>

</div>

    <div class="centering-text mb-5">
    <a href="{{ url_for('get_recipies', recipe_id=recipe._id) }}" class="btn btn-warning">Back</a>			
    </div>

{% endblock %}