{% extends 'layout/base.html' %}
{% block content %}

    <div class="container my-5 mx-auto">

        {% include 'components/searchtitle.html' %}

        {% for recipe in results %}
        <div class="row">
            <div class="col-11 col-lg-8 mx-auto mb-5">
            
            {% include 'components/recipecard.html' %}

            </div>
        </div>
        {% endfor %}
    </div>

    <div class="centering-text mb-5">
        <a href="{{ url_for('get_cuisines') }}" class="btn btn-warning">Back</a>
    </div>

{% endblock %}