{% extends 'layout/base.html' %}
{% block content %}


<div class="container my-5">
	<div class="row">
		<div class="col-12">
			<h2 class="mt-4 centering-text">Results for "{{ query }}"</h1>
		</div>
	</div>


	{% for recipe in results %}
	<div class="row">
		<div class="col-8 mx-auto my-5">

			<div class="card mb-3">
				<div class="row no-gutters">
					<div class="col-md-5">
						<img src="{{recipe.image}}" class="card-img meals-image" alt="recipe image">
                    </div>
						<div class="col-md-7">
							<div class="card-body card-body-meals">
								<h4 class="card-title">{{ recipe.recipe_name }}</h4>
								<p class="card-text">{{ recipe.recipe_desc }}</p>

								<p class="card-text"><b>Cuisine:</b> {{ recipe.cuisine_name }}</p>
							</div>
						</div>
					</div>
					<div class="card-footer centering-text">
						<a href="/recipe_selected/{{ recipe._id }}">
							<button type="submit" class="btn btn-success" name="action">View full recipe</button>
						</a>
					</div>
				</div>

			</div>
		</div>


		{% endfor %}
	</div>

	<div class="centering-text mb-5">
		<a href="{{ url_for('index') }}">
			<button type="submit" class="btn btn-warning" name="action">return to seach page</button>
		</a>
	</div>

	{% endblock %}