{% extends 'layout/base.html' %}
{% block content %}

<div class="container my-5">

<div class="row my-5">
	<div class="col-11 col-md-5 my-5 mx-auto">
		<div class="card text-center my-5">

			<div class="card-body">
				<h2 class="card-title mb-5 playfont">No results</h2>
				<p class="card-text mt-4">Unfortunately there are no mentions of <em>"{{ query }}"</em> in our recipe book at this
					moment in time.</p>
                <p class="card-text mt-4">....but feel free to add one!</p>
				<a href="{{ url_for('index') }}">
					<button type="submit" class="btn btn-success mt-5" name="action">Return to home page</button>
				</a>
			</div>

		</div>
	</div>
</div>

</div>

{% endblock %}