{% extends 'layout/base.html' %}
{% block content %}


<div class="container my-5">
	<div class="row">
		<div class="col-12">
			<h2 class="mt-4 centering-text playfont">Results for "{{ query }}"</h1>
		</div>
	</div>


	{% for recipe in results %}
	<div class="row">
		<div class="col-8 mx-auto my-5">
			
            {% include 'components/recipecard.html' %}

		</div>
	</div>

	{% endfor %}
	</div>

	<div class="centering-text mb-5">
		<a href="{{ url_for('index') }}">
			<button type="submit" class="btn btn-warning" name="action">Return</button>
		</a>
	</div>

	{% endblock %}