body {
    background-image:url("../img/white-painted-wall.jpg");
}

/* Index page */

.container {
    background-color: white;
}

.searchatron {
    background-color: rgb(235, 226, 225);
    height: 100vh;
}

.centering-text {
    text-align: center;
}

.search-bar {
    width: 60%;
    height: 50px;
}

.form-search-bar {
    border: none;
    border-bottom: 2px solid rgba(185, 30, 100, 0.192);
}

.form-search-bar {
    color: #495057;
    background-color: #fff;
    border-color: #862828a6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(206, 198, 198, 0);
}

/* all recipes page */

.card-img-top {
    height: 15em;
}

.card-text-recipes {
    height: 100px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}


/* cuisne page */

.cuisine-container {
    width: 80%;
    height: 350px;
}

/* meals pages */

.meals-image {
    height: 100%;
    width: 100%;
}

.card-body-meals {
    height: 240px;
    overflow-y: hidden;
}

/* footer */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* forms styling */

.form-control-recipe {
    border: none;
    border-bottom: 2px solid rgba(77, 68, 72, 0.192);
}

.form-control-recipe:focus {
    color: #495057;
    background-color: #fff;
    border-color: #2e6e43a6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(206, 198, 198, 0);
}


/* testing form dding steps  */

.container2 input[type=text] {
padding:5px 0px;
margin:5px 5px 5px 0px;
}

.add_form_feed
{
    background-color: #1c97f3;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 border:1px solid #186dad;
}

input{
    border: 1px solid #1c97f3;
    width: 260px;
    height: 40px;
    margin-bottom:14px;
}

.delete{
    background-color: #fd1200;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.container1 input[type=text] {
padding:5px 0px;
margin:5px 5px 5px 0px;
}

.add_form_field
{
    background-color: #1c97f3;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 border:1px solid #186dad;
}