body {
    background-color: rgb(253, 253, 249);
}



/* Index page */


.searchatron {
    background-color: rgb(245, 226, 202);
    height: 70vh;
}

.center-text {
    text-align: center;
}

.search-bar {
    width: 60%;
    height: 50px;
}