/* General content on all pages */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Romanesco&display=swap');

body {
    background-color: #77695F;
    background-image:url("../img/burger.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cursive {
    font-family: 'Romanesco', cursive;
}

.playfont {
    font-family: 'Playfair Display', serif;
}

.container, .modal-content {
    background-color: rgba(233, 231, 220, 0.9);
    box-shadow: 2px 2px 15px 2px #2e2c32bd;
}

.light-bg {
    background-color: rgba(233, 231, 220, 0.8);
}

.white-text {
    color: #fff;
}

.strong {
    font-weight: 400;
}

.caps {
    text-transform: capitalize;
}

.centering-text {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.card-border {
    background-color: #dbd8c981;
    border: 2px solid #77695F;
    box-shadow: 2px 2px 15px 2px #77695F;
}

.media-icons a {
    color: #77695F;
    font-size: 15px;
}

.media-icons a:hover {
    color: #2e2c327e;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
}

/* nav bar */


.navbar {
    font-size: 20px;
    color: #fff;
    background-color: #2e2c32bd;
    box-shadow: 2px 2px 20px 2px rgb(66, 59, 53);
}

.navbar-brand {
    font-size: 22px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 99; 
    left: 0;
    top: 0;
    background-color: rgba(91, 77, 67, 0.9);
    overflow-x: hidden; 
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    text-decoration: none;
    color: rgba(233, 231, 220, 0.75);
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: rgba(233, 231, 220, 0.999);
}

.overlay .close-nav-search {
    position: absolute;
    top: 30px;
    right: 60px;
    font-size: 80px;
}

@media screen and (max-width: 415px) {
  .overlay .close-nav-search {
    font-size: 60px;
    top: 25px;
    right: 50px;
  }
}

.nav-search-form {
    border: none;
    height: 80px;
    background-color: rgba(233, 231, 220, 0.801);
    border-radius: 3em;
    font-size: 30px;
    text-align: center;
}

.nav-search-form:focus {
    color: #495057;
    background-color: rgba(255, 255, 255, 0.601);
    border-color: #f7faf8a6;
    outline: 0;
    box-shadow: 0 0 0 0.5rem rgba(206, 198, 198, 0);
}

input[type="text"].nav-search-form::-webkit-input-placeholder {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

input[type="text"].nav-search-form::-moz-placeholder {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.fa-search:hover {
    color: rgba(233, 231, 220, 0.877);
    transition: ease-in-out;
    transition-duration: 0.4s;
    cursor: grab;
}

/* scroll back to top */

#topBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    border: none;
    outline: none;
    color: rgba(177, 159, 157, 0.732);
}

#topBtn:hover {
    opacity: 1;
    color: rgba(233, 231, 220, 0.9);
    transition: ease-in-out;
    transition-duration: 0.7s;
}

/* footer */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* buttons */

.btn-warning {
    color: #77695F;
    background-color: rgba(233, 231, 220, 0.95);
    border-color: rgba(233, 231, 220, 0.7);
    width: 4em;
    font-size: 25px;
    box-shadow: 2px 2px 15px 2px #2e2c32bd;
}

.btn-warning:hover {
    color: #838383;
    background-color: rgba(233, 231, 220, 0.7);
    border-color: rgba(233, 231, 220, 0.5);
}

.btn-warning:not(:disabled):not(.disabled).active, 
.btn-warning:not(:disabled):not(.disabled):active, 
.show>.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #838383;
    border-color: #838383d8;
}

.btn-primary {
    color: #fff;
    background-color: #f7ae4c;
    border-color: #f7ad4cde;
    width: 4.5em;
}

.btn-primary:hover {
    color: rgba(255, 255, 255, 0.61);
    background-color: #f7c14cf3;
    border-color: #ffc1077e;
    transition: ease-in-out;
    transition-duration: 0.5s;
}

.btn-primary:focus {
    color: #fff;
    background-color: rgb(175, 122, 62);
    border-color: #ffc10769;
}

.btn-danger {
    color: #fff;
    background-color: #9E393A;
    border-color: rgba(158, 57, 59, 0.849);
    width: 4.5em;
}

.btn-danger:hover {
    color: rgba(255, 255, 255, 0.61);
    background-color: rgb(206, 38, 41);
    border-color: #9E393A;
    transition: ease-in-out;
    transition-duration: 0.5s;
}

.btn-danger:focus {
    color: #fff;
    background-color: rgba(206, 38, 41, 0.863);
    border-color: #9E393A;
}

.btn-success {
    color: #fff;
    background-color: #218939de;
    border-color: #218939;
}

.btn-success:hover {
    color: rgba(255, 255, 255, 0.945);
    background-color: rgb(17, 77, 31);
    border-color: rgb(27, 110, 47);
    transition: ease-in-out;
    transition-duration: 0.4s;
}

.btn-secondary {
    background-color: rgba(64, 49, 27, 0.849);
    color: rgba(233, 231, 220, 0.9);
}

.btn-secondary:hover {
    background-color: rgba(64, 49, 27, 0.966);
    color: rgba(233, 231, 220, 0.733);
}

.btn-outline-light:hover {
    background-color: rgba(233, 231, 220, 0.9);
}

.fas {
    color: #77695F;
}

/* Index page */

input[type="text"].search-bar::-webkit-input-placeholder {
    color: rgb(34, 33, 33);
    opacity: 1;
    font-style: italic;
    font-size: 25px;
}

input[type="text"].search-bar::-moz-placeholder {
    color: rgb(34, 33, 33);
    opacity: 1;
    font-style: italic;
    font-size: 25px;
}

.searchatron {
    height: 80vh;
}

.search-bar {
    width: 70%;
    height: 70px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 25px;
}

.form-search-bar {
    border: 2px solid rgba(255, 255, 255, 0.253);
    background-color: rgba(255, 255, 255, 0.384);
}

.form-search-bar:focus {
    color: #000000;
    font-weight: 600;
    opacity: 0.45;
    transition: ease-in-out;
    transition-duration: 2s;
    font-style: normal;
    background-color: #fff;
    border-color: #f3cacaa6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}

/* all recipes page */

.card-img-top {
    height: 15em;
}

.card-text-recipes {
    height: 100px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.recipes-cont {
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0.795);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgba(104, 101, 101, 0.945);
    border-color: rgba(255, 255, 255, 0.855);
}

.page-item a, .page-item a:hover {
    color: rgba(104, 101, 101, 0.945);
}

/* single recipe page */

.recipe-title {
    border-bottom: 3px solid #77695F;
}

.recipe-img {
    height: 18em;
    width: 100%;
    border-radius: 2em;
}

.ingred-steps {
    text-align: right;
}

.prep-steps {
    border-bottom: 1px solid #77695F;
}

.recipe-stats {
    font-weight: 800;
}

.recipe-stats-left {
    border-right: 1px solid #837c7c9c;
}

@media only screen and (min-width: 770px) {
.recipe-row {
    padding-left: 0px;
    padding-right: 80px;
}

.ing-steps {
    padding-right: 0px;
}
}

/* cuisne page */

.cuisine-container {
    background-color: #2e2c3294;
    border: 3px solid #77695F;
}

.cuisine-container:hover {
    background-color: #2e2c3285;
    border: 3px solid #77695F;
    box-shadow: 2px 2px 20px 2px #77695F;
    transition: ease-in-out;
    transition-duration: 1s;
}

.cuisine-title {
    color: rgba(255, 255, 255, 0.795);
}

@media only screen and (max-width: 350px) {
.cuisine-title {
    color: rgba(255, 255, 255, 0.795);
    font-size: 40px;
}
}

/* meal/cuisines pages */

.meals-image {
    height: 100%;
    width: 100%;
}

.card-body-meals {
    height: 240px;
    overflow-y: hidden;
}

.meal-jumbo {
    background-color: rgba(48, 37, 20, 0.722);
    border-radius: 3em;
}

.views-right {
    float: right;
}

.views-left {
    float: left;
}

.meal-header {
    color: rgba(255, 255, 255, 0.795);
    border-bottom: 2px solid #837c7c9c;
}

.meal-form {
    background-color: rgba(255, 255, 255, 0.695);
}
.jumbo-cont {
    border-radius: 3em;
}

.desc-text {
    height: 100px;
    overflow-y: hidden;
    padding-top: 2px;
}

/* add/edit page  */

.form-control-recipe {
    border: none;
    border-bottom: 2px solid #77695F;
    overflow-x: scroll;
}

.form-control-recipe:focus {
    color: #495057;
    border-color: #40311B;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(206, 198, 198, 0);
}

.dropdown-select {
    color: #77695F;
    font-size: 17px;
}

.custom-select {
    border: 1px solid #77695F;
}

.option-item {
    background: transparent;
}

#meal_types *
{
 background-color: rgba(233, 231, 220, 0.9);
}

#meal_type *
{
 background-color: rgba(233, 231, 220, 0.9);
}

.custom-select:focus {
    border-color: #40311B;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(64, 49, 27, 0.849);
}

.custom-select:hover {
    border-color: #40311B;
    outline: 0;
    opacity: 0.9;
    box-shadow: 0 0 0 0.2rem rgba(64, 49, 27, 0.849);
}

/* add/edit page  */

.container1 {
    width: 100%;
}

.step-form {
    width: 80%;
}

.step-btn {
    width: 3em;
    text-align: center;
}

