{% extends 'base.html' %}
{% block content %}

<h3>Add cuisine</h3>
<form action="{{ url_for('insert_cuisine') }}" method="POST">
    <div class="row">
        <div class="col-8">
                {% for cuiz in recipies %}
                    {% if cuiz.cuisine_name == recipies.cuisine %}
                        <option value="{{cuiz.cuisine_name}}" selected >{{cuiz.cuisine_name}}</option>
                    {% else %}
                        <option value="{{cuiz.cuisine_name}}">{{cuiz.cuisine_name}}</option>
                    {% endif %}
                {% endfor %}
            <input id="cuisine_name" name="cuisine_name" type="text" class="validate">
            <label for="cuisine_name">cuisine Name</label>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success" type="submit" name="action">Add cuisine
        </button>
    </div>
</form>

{% endblock %}