{% extends 'base.html' %}
{% block content %}

<h3>Add Recipe</h3>
<div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col-9">
        <div class="row">
            <div class="row">
                <div class="col-7">
                <select id="cuisine" name="cuisine">
                <option value="" disabled selected>Choose cuisine</option>
                  {% for cuiz in cuisine %}
                      <option value="{{cuiz.cuisine}}">{{cuiz.cuisine}}</option>
                  {% endfor %}
                </select>
                    <label>recipe cuisine</label>
                </div>
            </div>
            <div class="col-7">
                
                <input id="recipe_name" name="recipe_name" type="text">
                <label>recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                
                <textarea name="recipe_prep" id="recipe_prep"></textarea>
                <label>recipe prep</label>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-success" type="submit" name="action">Add recipe
            </button>
        </div>
    </form>
</div>

{% endblock %}