{% extends 'layout/base.html' %}
{% block content %}

<h3>Add Recipe</h3>
<div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col-9 form-caps">
        <div class="row">
                <div class="col-7">
                <select id="meal_types" name="meal_type" required>meal Type
                        <option value="" disabled selected>Select one</option>
                        <option value="breakfast">Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                </select>
        </div>
        <div class="row">
            <div class="col-7">
                <input id="recipe_name" name="recipe_name" type="text" required>
                <label>recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <textarea name="recipe_desc" id="recipe_desc" required></textarea>
                <label>Short description</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <textarea name="recipe_prep" id="recipe_prep" required></textarea>
                <label>recipe prep</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <textarea name="cuisine_name" id="cuisine_name" required></textarea>
                <label>cuisine</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <textarea name="tools" id="tools" required></textarea>
                <label>tools</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <textarea placeholder="add image url" name="image" id="image" required></textarea>
                <label>image</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <textarea name="ingredients" id="ingredients" required></textarea>
                <label>ingredients</label>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-success" type="submit" name="action">Add recipe
            </button>
            <a href="{{ url_for('get_recipies') }}" class="btn btn-warning">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}