{% extends 'base.html' %}
{% block content %}

    <h2>Cuisines:</h2>

    <form action="{{ url_for('search_cuisines') }}">
		<input type="text" placeholder="Search....." name="query" required>
		<div id="search_cuisines"><button type="submit">Look</button></div>
	</form>

	{% for cuisine in recipies %}
    
	<div class="row">
		<div class="col-8 mx-auto">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">{{ cuisine }}</h1>
					<p class="lead">recipe</p>
				</div>

				<form action="{{ url_for('search_cuisines') }}">
				<div id="search_cuisines"><button type="submit" name="query" value="{{cuisine}}">
	                More {{cuisine}} recipes</button></div>
				</form>
			</div>
		</div>
	</div>
		
  
	{% endfor %}

{% endblock %}