{% extends 'base.html' %}
{% block content %}

	{% for cuisine in recipies %}

    <div class="container my-5 cuisine-container">
        <div class="row">
            <div class="col-12 col-sm-8 mx-auto mt-4">
                <div class="jumbotron jumbotron-fluid my-3">
                    <div class="row">
                        <div class="col">
                            <h1 class="display-4 centering-text cuisine-title">{{ cuisine }}</h1>
                        </div>
                    </div>
					<div class="row mt-3">
                        <div class="col">
				            <form action="{{ url_for('search_cuisines') }}">
				            <div id="search_cuisines" class="centering-text">
                                <button type="submit" name="query" value="{{cuisine}}" class="btn btn-outline-success">
	                            View all {{cuisine}} style recipes</button>
                            </div>
				            </form>
                        </div>
			        </div>
                </div>
			</div>
		</div>
	</div>
		
  
	{% endfor %}

{% endblock %}