{% extends 'base.html' %}
{% block content %}

<h3>Edit Cuisine</h3>
<div class="row">
    <form action="{{ url_for('update_cuisine', cuisine_id=cuiz._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="cuisine_name" name="cuisine_name" type="text" class="validate" value="{{cuiz.cuisine_name}}">
                <label for="cuisine_name">cuisine Name</label>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-secondary" type="submit" name="action">Save Changes </button>
            <a href="{{ url_for('get_cuisines') }}" class="btn btn-warning">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}