{% extends 'base.html' %}
{% block content %}


<h3>edit recipe</h3>

<form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST">
 
			<div class="row">
				<div class="col-8">
                <label>Cuisine</label>
					<select id="cuisine" name="cuisine">
			                <option value="">Choose cuisine</option>
			            {% for cuiz in cuisine %}
			            {% if cuiz.cuisine == recipe.cuisine %} 
			                <option value="{{cuiz.cuisine}}" selected>{{cuiz.cuisine}}</option> 
			            {% else %}  
			                <option value="{{cuiz.cuisine}}">{{cuiz.cuisine}}</option>
			            {% endif %}  
			            {% endfor %}
			        </select>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
                <label>recipe Name</label>
				    <input id="recipe_name" name="recipe_name" type="text" value="{{recipe.recipe_name}}">
				</div>
			</div>
            <div class="row">
				<div class="col-8">
                <label>recipe_prep</label>
				    <input id="recipe_prep" name="recipe_prep" type="text" value="{{recipe.recipe_prep}}">
				</div>
			</div>
            <div class="row">
				<div class="col-8">
                <label>cuisine</label>
				    <input id="cuisine" name="cuisine" type="text" value="{{recipe.cuisine}}">
				</div>
			</div>
			<div class="row">
				<div class="col-8">
                <label>tools</label>
				    <input id="tools" name="tools" type="text" value="{{recipe.tools}}">
				</div>
			</div>
            <div class="row">
				<div class="col-8">
                <label>image</label>
				    <input id="image" name="image" type="text" value="{{recipe.image}}">
				</div>
			</div>
            <div class="row">
				<div class="col-8">
                <label>ingredients</label>
				    <input id="ingredients" name="ingredients" type="text" value="{{recipe.ingredients}}">
				</div>
			</div>
			<div class="row">
				<button class="btn btn-primary" type="submit" name="action">Edit recipe</button>
			</div>
</form>



{% endblock %}