{% extends 'base.html' %}
{% block content %}


<h3>edit recipe</h3>

<form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST">
 
			<div class="row">
				<div class="col-8">
                <label>Meal Type:</label>
					<select id="meal_type" name="meal_type">
                        <option value="{{recipe.meal_type}}" disabled selected>{{recipe.meal_type}}</option>
                        <option value="breakfast">Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                    </select>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
                <label>recipe Name</label>
				    <input id="recipe_name" name="recipe_name" type="text" value="{{recipe.recipe_name}}">
				</div>
			</div>
            <div class="row">
				<div class="col-8">
                <label>recipe_prep</label>
				    <input id="recipe_prep" name="recipe_prep" type="text" value="{{recipe.recipe_prep}}">
				</div>
			</div>
            <div class="row">
				<div class="col-8">
                <label>cuisine</label>
				    <input id="cuisine_name" name="cuisine_name" type="text" value="{{recipe.cuisine_name}}">
				</div>
			</div>
			<div class="row">
				<div class="col-8">
                <label>tools</label>
				    <input id="tools" name="tools" type="text" value="{{recipe.tools}}">
				</div>
			</div>
            <div class="row">
				<div class="col-8">
                <label>image</label>
				    <input id="image" name="image" type="text" value="{{recipe.image}}">
				</div>
			</div>
            <div class="row">
				<div class="col-8">
                <label>ingredients</label>
				    <input id="ingredients" name="ingredients" type="text" value="{{recipe.ingredients}}">
				</div>
			</div>
			<div class="row">
				<button class="btn btn-primary" type="submit" name="action">Edit recipe</button>
                <a href="{{ url_for('get_recipies') }}" class="btn btn-warning">Cancel</a>
			</div>
</form>



{% endblock %}