{% extends 'layout/base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid searchatron">
  <div class="container-fluid">

    <div class="row mt-5">
        <div class="col-12 ">
            <h1 class="display-4 mx-auto centering-text">Search your recipe:</h1>
        </div>
    </div>
    
    <form action="{{ url_for('search_recipe') }}" >
    <div class="row mt-5">
        <div class="col-12 form-group">
            <input class="search-bar form-control mx-auto" type="text" placeholder="e.g search 'chicken' or 'curry'" name="query" required>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div id="search_recipe" class="centering-text">
                <button type="submit" class="btn btn-success btn-lg ">Have a look</button>
            </div>
        </div>
    </div>
    </form>

  </div>
</div>


{% endblock %}