{% extends 'base.html' %}
{% block content %}




    

<div class="container">
<div class="row">

{% for recipe in recipies %}
<div class="col-4">



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">This is a recipe</h1>
    <p class="lead">


    <li>    {{recipe.recipe_name}}</li>
    <li>    {{recipe.recipe_prep}}</li>
    <li>    {{recipe.cuisine_name}}</li>
    <li>    {{recipe.meal_type}}</li>
    <li>    {{recipe.tools}}</li>
    <li>    <img src="{{recipe.image}}" alt="recipe image" width="500" height="400"></li>
    <li>    {{recipe.likes}}</li>

</p>

<a href="/recipe_selected/{{ recipe._id }}">
<button type="submit" class="btn btn-success" name="action">View full recipe</button>
</a>

</div>
</div>


</div>
{% endfor %}
</div>
</div>


<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% for this_page in num_pages %}
            {% if this_page == curent_page %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link">{{ this_page }}<span class="sr-only">(current)</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                <a class="page-link"href="{{ url_for('get_recipies', curent_page=this_page) }}">{{ this_page }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

{% endblock %}