{% extends 'base.html' %}
{% block content %}



	<h3>Search your favourite recipe:</h3>
						
	<form action="{{ url_for('search_recipe') }}">
		<input type="text" placeholder="Search....." name="query" required>
		<div id="search_recipe"><button type="submit">Look</button></div>
	</form>

     <a href="{{url_for('find_meals')}}" class="btn btn-primary">find</a>

<ul>

    {% for recipe in recipies %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">This is a recipe</h1>
    <p class="lead">


    <li>    {{recipe.recipe_name}}</li>
    <li>    {{recipe.recipe_prep}}</li>
    <li>    {{recipe.cuisine_name}}</li>
    <li>    {{recipe.meal_type}}</li>
    <li>    {{recipe.tools}}</li>
    <li>    {{recipe.image}}</li>
</p>

    
    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">Edit</a>
    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn btn-danger">Delete</a>

        </div>
</div>
    {% endfor %}
</ul> 

{% endblock %}