{% extends 'base.html' %}
{% block content %}

<ul>

    {% for recipe in results %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 caps">{{recipe.recipe_name}}</h1>
    <p class="lead">

    <li>    {{recipe.recipe_prep}}</li>
    <li>    {{recipe.cuisine_name}}</li>
    <li>    {{recipe.meal_type}}</li>
    <li>    {{recipe.tools}}</li>
    <li>    {{recipe.image}}</li>
</p>

<a href="/recipe_selected/{{ recipe._id }}">
<button type="submit" class="btn btn-success" name="action">View full recipe</button>
</a>

</div>
</div>
    {% endfor %}
</ul> 

<div class="row">
    <a href="{{ url_for('get_cuisines') }}" class="btn btn-warning">Back</a>
</div>

{% endblock %}