{% extends 'base.html' %}
{% block content %}


<h1>"{{ query }}" was the search, and you got:</h1>

    {% for recipe in results %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Recipes</h1>
    <p class="lead">
    <h3>Recipe:</h3>
    
        <div>
            <li>{{ recipe.recipe_name }}</li>
            <li>you'll have to : {{ recipe.recipe_prep }}</li>
            <li>{{ recipe.ingredients }}</li>
        </div>
    </p>
  </div>
    <a href="/recipe_selected/{{ recipe._id }}">
        <button type="submit" class="btn btn-success" name="action">View full recipe</button>
    </a>

    <a href="{{ url_for('index') }}">
        <button type="submit" class="btn btn-warning" name="action">return to seach page</button>
    </a>
</div>
    {% endfor %}
    
{% endblock %}