{% extends 'base.html' %}
{% block content %}

<ul>

    {% for recipe in results %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">This is a recipe</h1>
    <p class="lead">


    <li>    {{recipe.recipe_name}}</li>
    <li>    {{recipe.recipe_prep}}</li>
    <li>    {{recipe.cuisine_name}}</li>
    <li>    {{recipe.meal_type}}</li>
    <li>    {{recipe.tools}}</li>
    <li>    {{recipe.image}}</li>
</p>
</div>
</div>
    {% endfor %}
</ul> 

{% endblock %}