<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favison files -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicons/favicon-16x16.png">
    
    <!-- style sheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display|Romanesco&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    
    <!-- page title -->
    <title>GourmetGrub</title>
</head>

<header>
    <!-- navbar which tuns into 3 bar icon on small pages, with a dark background also -->
    <nav class="navbar navbar-expand-sm navbar-dark py-3">
        <!-- the brand will return user to index page -->
        <a class="navbar-brand mr-2 strong" href="{{url_for('index')}}">GourmetGrub</a>
        <!-- icon for smaller screens, clicking on it will call the overlay search bar feature -->
        <span class="d-sm-none mr-auto" id="navSearchOpenSmall"><i class="fas fa-search"></i></span>
        <!-- nav items are collapsible on smaller screens -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- navbar links linking to the functions in the app.py file -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{url_for('cuisines')}}">Cuisines</a>
                <a class="nav-item nav-link" href="{{url_for('meals')}}">Meals</a>
                <a class="nav-item nav-link" href="{{url_for('add')}}">Add Recipe</a>
                <a class="nav-item nav-link" href="{{url_for('recipes')}}">All Recipes</a>
                <a class="nav-item nav-link" href="#" >Equipment</a>
            </div>
        </div>
    
    <!-- search icon which appears on right side of nav on bigger screens -->
    <span class="nav-search-bar d-none d-sm-inline-block" id="navSearchOpen"><i class="fas fa-search fa-2x"></i></span>

    <!-- overlay content which is accessible form all pages to use the search bar -->
    <div id="overlaySearchBar" class="overlay">
        <a href="javascript:void(0)" id="navSearchClose" class="close-nav-search">&times;</a>
        <div class="overlay-content">
        <form action="{{ url_for('search_recipe') }}" >
            <div class="row mt-5">
                <div class="col-10 col-sm-7 mx-auto form-caps">
                    <!-- same function as index search bar to search inredients or name for the value -->
                    <input class="form-control nav-search-form mx-auto" autocomplete="off" 
                    type="text" placeholder="Search for a recipe!" name="query" required>
                </div>
            </div>
            <button id="search_recipe" type="submit" class="btn btn-success mt-4" aria-label="search">
                <i class="fas fa-search fa-2x"></i>
            </button>
        </form>
        </div>
    </div>

    </nav>

</header>

<body>

    <!-- where the content from the html pages will load -->
    {% block content %}
    {% endblock %}

    <!-- include sroll to top and footer html component pages -->
    {% include 'layout/scrolltotop.html' %}
    {% include 'layout/footer.html' %}

    <!-- cnd links & link to js file -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}" type="text/javascript"></script>

</body>
</html>